#contact {
  display: flex;
  height: 150px;
  background-color: #aaa;
  align-items: center;
  color: #fff;
  letter-spacing: 1px;
  padding: 0 50px;
}

#contact h2 {
  text-align: left;
  padding: 0;
  margin-right: 50px;
  font-family: 'Shadows Into Light';
}

.contactInfo {
  margin-right: auto;
  line-height: 1.5;
  span {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    color: #000;
  }
}

.media {
  font-family: FontAwesome;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}

.media a {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 1px dashed #fff;
  line-height: 64px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: #000;
  transition: all .4s ease-in-out;
}

.media a:hover {
  background: #fff;
}

@media(max-width: 950px) {
  #contact {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
    h2 {
      margin: 0;
    }
  }
  .contactInfo {
    margin: auto;
    padding: 10px 0;
  }
  .media a {
    background: #fff;
  }
}