html, body{
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

// preload image
body::after {
  content: url('../img/cover1.jpg') url('../img/cover2.jpg') url('../img/cover3.jpg');
  display: none;
}

.wrap{
  max-width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}
.wrap::after{
  content: '';
  position: absolute;
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

h2 {
  text-align: center;
  font-size: 4rem;
  padding: 50px 50px 70px 50px;
  letter-spacing: 2px;
  font-family: 'Pacifico';
}

@media(max-width: 500px) {
  h2 {
    font-size: 3rem;
    padding: 50px 0;
  }
}

.animated {
  opacity: 0;
  transition: all 2s ease;
  transform: translateY(50px);
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

