.top {
  width: 80px;
  text-align: center;
}

.top a {
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
}

.top a:hover {
  background: rgba(204, 204, 204, 0.7);
}

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}


.menu li {
  display: inline-block;
  text-align: center;
  width: 100px;
}

.menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  line-height: 50px;
  color: #fff;
}

.menu li a:hover {
  background: rgba(204, 204, 204, 0.7);
}

nav label {
  display: none;
  cursor: pointer;
  width: 64px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-family: FontAwesome;
  z-index: 10;
}

#toggle-menu{
  display: none;
}

#toggle-menu:checked+.menu {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s cubic-bezier(0, .54, .63, 1), opacity 1s cubic-bezier(.67, 0, 1, .48);
}

.menu-group{
  display: flex;
}

.menu {
  display: flex;
  opacity: 0;
  transform: translateY(-400px);
  transition: transform 1s cubic-bezier(.61, 0, 1, .45), opacity 1s cubic-bezier(0, .49, .48, 1);
  z-index: 10;
}

@media(max-width: 800px){
  nav label{
    display: block;
    align-self: flex-end;
  }
  .menu-group{
    flex-direction: column;
  }
  .menu{
    flex-direction: column;
  }
  .menu li a{
    background: #333;
  }
  .menu li a:active{
    background: #555;
  }
}

.curtain{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.none{
  display: none;
}