.works {
  position: relative;
  padding: 50px;
  overflow: hidden;
}

.works-bg {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/bg2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: left center;
  z-index: -1;
}

.works-frame {
  margin: 0 auto;
  max-width: 1200px;
}

.items {
  display: block;
  max-width: 100%;
}

.items li {
  width: 46%;
  float: left;
  height: 450px;
  margin: 2%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2%;
  padding: 10px;
}

.items li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.items li:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.works-pic {
  height: 70%;
  width: 100%;
}

.topic {
  text-align: center;
  margin: 25px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.feature {
  text-align: center;
  color: rgb(124, 65, 252);
}

@media(max-width: 1300px) {
  .items li {
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .topic {
    margin: 20px 0;
  }
}

@media(max-width: 1100px) {
  .items li {
    height: 300px;
  }
  .topic {
    margin: 15px 0;
  }
}

@media(max-width: 900px) {
  .items li {
    height: 400px;
    width: 80%;
    margin: 5% 10%;
  }
  .topic {
    margin: 20px 0;
  }
}

@media(max-width: 750px) {
  .items li {
    width: 90%;
    margin: 5%;
  }
}

@media(max-width: 650px) {
  .items li {
    width: 95%;
    margin: 2.5%;
    height: 350px;
  }
  .topic {
    margin: 15px 0;
  }
}

@media(max-width: 550px) {
  .items li {
    width: 98%;
    margin: 20px 1%;
    height: 300px;
  }
}

@media(max-width: 500px) {
  .items li {
    height: 250px;
  }
  .topic {
    margin: 10px 0;
  }
}

@media(max-width: 400px) {
  .items li {
    height: 200px;
  }
  .topic {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .feature {
    line-height: 1.5;
  }
  .works-pic {
    height: 55%;
  }
}

@media(max-width: 320px) {
  .works-pic {
    height: 50%;
  }
  .topic {
    font-size: 1rem;
  }
}