<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='description', content='Hank的個人簡介')
    meta(neme='keyword', content='危建翰, Hank')
    meta(property='og:title', content="Hank's Page")
    meta(property='og:description', content='Hank的個人簡介')
    meta(property='og:type', content='website')
    meta(property='og:url', content='')
    meta(property='og:image', content='./img/personal.jpg')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='')
    meta(name='twitter:title', content="Hank's Page")
    meta(name='twitter:description', content='Hank的個人簡介')
    meta(name='twitter:image', content='./img/personal.jpg')
    title HankPage
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="./css/all.css")
    link(rel="stylesheet", href="./css/font-awesome.min.css")
    link(rel="stylesheet", href="./css/justifiedGallery.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Permanent+Marker|Shadows+Into+Light")
  body
    .wrap
      header
        nav
          .top
            a(href="#") TOP
          .menu-group
            label.fa-2x.fa-bars.toggle(for="toggle-menu") 
            input#toggle-menu(type="checkbox")
            ul.menu
              li
                a.move(href="#profile") Profile
              li
                a.move(href="#experience") Experience
              li
                a.move(href="#skills") Skills
              li
                a.move(href="#works") Works
              li
                a.move(href="#life") Life
              li
                a.move(href="#contact") Contact
          .curtain.none
        
        .carousel
          .cover1.covers.fade
            .slogan1
              span.p1 A Journey of a Thousand Miles Begins with a Single Step
              span.p2 Practice Makes Perfect
            .caption1 Hi, I'm Hank.
          .cover2.covers.fade
            .slogan2
              span.p1
                | "Insanity: doing the same thing over and over again and expecting different results."
              span.p2 Creep Before You Walk
            .caption2 -Albert Einstein-
          .cover3.covers.fade
            .slogan3 Don't Be Sheep
          a.prev ❮
          a.next ❯
          .indicator
            span.dot
            span.dot
            span.dot
      
      .profile#profile.animated
        h2 Profile
        .profile-content
          .left-column
            .photo
              h1 Hank's World
            span 危建翰 Hank
          .right-column
            p
              | 我是危建翰，海洋大學食品科學系碩士畢業。論文主題與生質能源和酵素表現有關，攻讀碩士期間聚焦於醣類發酵及基因轉殖等相關實驗。由於這些實驗和微生物領域密不可分，故對於微生物培養及檢測技術也有深入了解，亦曾擔任微生物實驗助教 (食品技師班、食品科學營...)。畢業後曾經在親戚經營的幼稚園及安親班幫忙一段時間，照顧小小孩並磨練自己的耐心 (笑)。
            p
              | 之後正式投入職場，曾在小公司當個研發人員，也在大公司做過化學分析師，雖然工作表現尚屬穩健、與同事相處融洽，但同時也對於一成不變的工作內容感到苦惱。維持現狀固然舒適而不費力，但我仍想有所突破，不想畫地自限。躑躅間偶然接觸到程式設計，在初步投入後覺得十分感興趣。寫程式給了我一個不斷學習的契機，在 coding 的過程中會遭遇許多困難，所以必須攝取更多的新知來解決問題，在跨越障礙的過程當中，我確實感覺到了自己在進步，而這正是我所追求的。於是便決定辭去職務，透過自學及線上課程，從前端相關技術著手，朝著工程師之路邁進，在茫茫程式碼之中尋找立錐之地。
            p
              | 興趣是打籃球、唱歌、閱讀、健行和品嘗美食。放下工作的這段期間，與朋友歡聚、與美食邂逅，亦不時投向自然的懷抱，期許自己在提升個人能力的同時，也能懂得拾掇在周遭唾手可得、平時卻視而不見，名為「生活」的情懷。
      
      .experience#experience
        .experience-frame.animated
          h2 Experience
          .timeline
            .container.left
              .timeline-content
                h3 國立台灣海洋大學食品科學系
                span.title 碩士
                span.period 2012-2014
                p 除具備食品科學基礎知識外，論文主題圍繞分子生物學與生質能源等範疇，故亦精於基因轉殖、蛋白質表現與藻類發酵等相關實驗。
            .container.right
              .timeline-content
                h3 泰鈞生物科技股份有限公司
                span.title 研發人員
                span.period 2014-2015
                p 職責內容為化妝品研發、生產及品管等各個面向，對於化妝品原料特性、製作及檢驗方式有一定程度的理解。
            .container.left
              .timeline-content
                h3 SGS台灣檢驗科技股份有限公司
                span.title 化學分析師
                span.period 2016-2017
                p 主司食品微生物檢驗，擅長各種食品中病原菌的培養與分析技術。
            .line
              .bar
      
      .skills#skills
        .skills-frame.animated
          h2 Skills
          .square
            .chart-container
              canvas#myChart(width='400', height='400')
            .skills-content
              ul
                li 
                  span 
                    | 能不倚賴前端框架實現 RWD
                li
                  span 
                    | 用 JavaScript / jQuery 設計網頁動畫效果
                li
                  span 
                    | 透過 ajax 串接 open data API
                li
                  span 
                    | 使用 gulp 自動化前端任務
                li
                  span 
                    | 了解 Git/Github 基礎操作
                li
                  span 
                    | 用 Express + Firebase 實作會員登入系統
                li
                  span 
                    | Vue.js 基礎知識與 SPA 實作
                li
                  span 
                    | TOEIC 700
      .works#works
        .works-frame.animated
          h2 Works
          ul.items
            li
              a(href='https://hicksonwei.github.io/HexSchool_RWD_FinalProject/', target="_blank")
                img.works-pic(src='./img/works1.jpg')
                p.topic 六角西餐廳
                p.feature 客製 RWD + Scss + jQuery
            li
              a(href='https://hicksonwei.github.io/HexSchool_JS_JSON/', target="_blank")
                img.works-pic(src='./img/works2.jpg')
                p.topic 高雄旅遊資訊
                p.feature 使用 JSON 格式資料渲染畫面
            li
              a(href='https://hicksonwei.github.io/Landing_Page/', target="_blank")
                img.works-pic(src='./img/works3.jpg')
                p.topic 六角 Landing Page
                p.feature Bootstrap 4 + gulp 管理
            li
              a(href='https://member-management-system.herokuapp.com/', target="_blank")
                img.works-pic(src='./img/works4.jpg')
                p.topic 留言板
                p.feature Express + Firebase 實作登入系統
            li
              a(href='https://spa-nuxt.herokuapp.com/about', target="_blank")
                img.works-pic(src='./img/works5.jpg')
                p.topic SPA
                p.feature Vue.js + Nuxt 實作 Vue-SSR
            li
              a(href='https://afternoon-ridge-75133.herokuapp.com/', target="_blank")
                img.works-pic(src='./img/works6.jpg')
                p.topic todolist
                p.feature Express + Firebase 實作 todolist
        .clearfix
        .works-bg
      .life#life
        .life-frame.animated
          h2 Life
          #imageGrid
            a(href='#')
              img.picture(src='./img/view_01.jpg', alt='內灣')
            a(href='#')
              img.picture(src='./img/view_02.jpg', alt='碧潭')
            a(href='#')
              img.picture(src='./img/view_03.jpg', alt='奮起湖')
            a(href='#')
              img.picture(src='./img/view_04.jpg', alt='朝陽科技大學')
            a(href='#')
              img.picture(src='./img/view_05.jpg', alt='農禪寺')
            a(href='#')
              img.picture(src='./img/view_06.jpg', alt='地熱谷')
            a(href='#')
              img.picture(src='./img/view_07.jpg', alt='九份')
            a(href='#')
              img.picture(src='./img/view_08.jpg', alt='夢幻湖')
            a(href='#')
              img.picture(src='./img/view_09.jpg', alt='擎天崗')
            a(href='#')
              img.picture(src='./img/view_10.jpg', alt='林美石磐步道')
            a(href='#')
              img.picture(src='./img/view_11.jpg', alt='佛光大學')
            a(href='#')
              img.picture(src='./img/view_12.jpg', alt='龍潭湖')
            a(href='#')
              img.picture(src='./img/view_13.jpg', alt='竹山天梯')
            a(href='#')
              img.picture(src='./img/view_14.jpg', alt='向山遊客中心')
            a(href='#')
              img.picture(src='./img/view_15.jpg', alt='teamLab光影互動展')
            a(href='#')
              img.picture(src='./img/view_16.jpg', alt='千島湖')
            a(href='#')
              img.picture(src='./img/view_17.jpg', alt='烏來瀑布')
            a(href='#')
              img.picture(src='./img/view_18.jpg', alt='馬武督探索森林')
            a(href='#')
              img.picture(src='./img/view_19.jpg', alt='豆腐岩')
            a(href='#')
              img.picture(src='./img/view_20.jpg', alt='草嶺隧道')
            a(href='#')
              img.picture(src='./img/view_21.jpg', alt='象鼻岩')
            a(href='#')
              img.picture(src='./img/view_22.jpg', alt='望幽谷')
            a(href='#')
              img.picture(src='./img/view_23.jpg', alt='神秘海岸')
            a(href='#')
              img.picture(src='./img/view_24.jpg', alt='燭臺雙嶼')
            a(href='#')
              img.picture(src='./img/view_25.jpg', alt='石門洞')
            a(href='#')
              img.picture(src='./img/view_26.jpg', alt='老梅石槽')
            a(href='#')
              img.picture(src='./img/view_27.jpg', alt='富貴角燈塔')
            a(href='#')
              img.picture(src='./img/view_28.jpg', alt='石門婚紗廣場')
            a(href='#')
              img.picture(src='./img/view_29.jpg', alt='白沙灣')
            a(href='#')
              img.picture(src='./img/view_30.jpg', alt='奧塞美術館30週年大展')
            a(href='#')
              img.picture(src='./img/view_31.jpg', alt='波隆納世界插畫大展')
            a(href='#')
              img.picture(src='./img/view_32.jpg', alt='湖心亭')
            a(href='#')
              img.picture(src='./img/view_33.jpg', alt='苗榜')
            a(href='#')
              img.picture(src='./img/view_34.jpg', alt='外澳')
            a(href='#')
              img.picture(src='./img/view_35.jpg', alt='北關海潮公園')
            a(href='#')
              img.picture(src='./img/view_36.jpg', alt='三貂角燈塔')
            a(href='#')
              img.picture(src='./img/view_37.jpg', alt='銀河洞')
            a(href='#')
              img.picture(src='./img/view_38.jpg', alt='滿月圓')
            a(href='#')
              img.picture(src='./img/view_39.jpg', alt='東眼山')
            a(href='#')
              img.picture(src='./img/view_40.jpg', alt='石門水庫')
            a(href='#')
              img.picture(src='./img/view_41.jpg', alt='龍潭花海')
            a(href='#')
              img.picture(src='./img/view_42.jpg', alt='龍潭大池')
            a(href='#')
              img.picture(src='./img/view_43.jpg', alt='落羽松大道')
            a(href='#')
              img.picture(src='./img/view_44.jpg', alt='大溪橋')
            a(href='#')
              img.picture(src='./img/view_45.jpg', alt='鼻頭角')
            a(href='#')
              img.picture(src='./img/view_46.jpg', alt='南雅漁港')
            a(href='#')
              img.picture(src='./img/view_47.jpg', alt='五分山')
            a(href='#')
              img.picture(src='./img/view_48.jpg', alt='野柳')
            a(href='#')
              img.picture(src='./img/group_01.jpg', alt='密室脫逃-尚未尋獲')
            a(href='#')
              img.picture(src='./img/group_02.jpg', alt='Lab聚餐')
            a(href='#')
              img.picture(src='./img/group_03.jpg', alt='桌遊time')
            a(href='#')
              img.picture(src='./img/group_04.jpg', alt='合興車站')
            a(href='#')
              img.picture(src='./img/group_05.jpg', alt='密室脫逃-醉後任務')
            a(href='#')
              img.picture(src='./img/group_06.jpg', alt='密室脫逃-鬼新娘')
            a(href='#')
              img.picture(src='./img/group_07.jpg', alt='司馬庫斯')
            a(href='#')
              img.picture(src='./img/group_08.jpg', alt='城市尋寶-木柵欄裡的秘密')
            a(href='#')
              img.picture(src='./img/eat_01.jpg', alt='曲尼的公園')
            a(href='#')
              img.picture(src='./img/eat_02.jpg', alt='麵屋一燈')
            a(href='#')
              img.picture(src='./img/eat_03.jpg', alt='穿石')
            a(href='#')
              img.picture(src='./img/eat_04.jpg', alt='鳥人拉麵')
            a(href='#')
              img.picture(src='./img/eat_05.jpg', alt='翻轉')
            a(href='#')
              img.picture(src='./img/eat_06.jpg', alt='鷹流蘭丸')
            a(href='#')
              img.picture(src='./img/eat_07.jpg', alt='哩厚嘎嗶')
            a(href='#')
              img.picture(src='./img/eat_08.jpg', alt='大和家拉麵')
            a(href='#')
              img.picture(src='./img/eat_09.jpg', alt='早安，紐約')
            a(href='#')
              img.picture(src='./img/eat_10.jpg', alt='小六食堂')
            a(href='#')
              img.picture(src='./img/eat_11.jpg', alt='燉物小食堂')
            a(href='#')
              img.picture(src='./img/eat_12.jpg', alt='布佬廚房')
            a(href='#')
              img.picture(src='./img/eat_13.jpg', alt='Smith&hsu')
            a(href='#')
              img.picture(src='./img/eat_14.jpg', alt='2gether')
            a(href='#')
              img.picture(src='./img/eat_15.jpg', alt='秋山咖啡')
            a(href='#')
              img.picture(src='./img/eat_16.jpg', alt='Cafe de Gear')
            a(href='#')
              img.picture(src='./img/eat_17.jpg', alt='娘子韓食')
            a(href='#')
              img.picture(src='./img/eat_18.jpg', alt='山嵐拉麵')
            a(href='#')
              img.picture(src='./img/eat_19.jpg', alt='這咖啡')
            a(href='#')
              img.picture(src='./img/eat_20.jpg', alt='奧蘿茉Cafe')
            a(href='#')
              img.picture(src='./img/eat_21.jpg', alt='貝芮小廚房')
            a(href='#')
              img.picture(src='./img/eat_22.jpg', alt='泰街頭')
            a(href='#')
              img.picture(src='./img/eat_23.jpg', alt='荷蘭小鬆餅')
            a(href='#')
              img.picture(src='./img/eat_24.jpg', alt='連進酸菜白肉鍋')
            a(href='#')
              img.picture(src='./img/eat_25.jpg', alt='吃貨ing')
            a(href='#')
              img.picture(src='./img/eat_26.jpg', alt='鷹流拉麵')
            a(href='#')
              img.picture(src='./img/eat_27.jpg', alt='好想吃冰')
            a(href='#')
              img.picture(src='./img/eat_28.jpg', alt='勝王')
            a(href='#')
              img.picture(src='./img/eat_29.jpg', alt='咖啡實驗室')
            a(href='#')
              img.picture(src='./img/eat_30.jpg', alt='幸福王國')
            a(href='#')
              img.picture(src='./img/eat_31.jpg', alt='一期一會(鮨)')
            a(href='#')
              img.picture(src='./img/eat_32.jpg', alt='老爺小花園')
            a(href='#')
              img.picture(src='./img/eat_33.jpg', alt='麵屋真登')
            a(href='#')
              img.picture(src='./img/eat_34.jpg', alt="Who's sandwich")
            a(href='#')
              img.picture(src='./img/eat_35.jpg', alt='春日甜Cafe')
            a(href='#')
              img.picture(src='./img/eat_36.jpg', alt='金鮨')
            a(href='#')
              img.picture(src='./img/eat_37.jpg', alt='樂麵屋')
            a(href='#')
              img.picture(src='./img/eat_38.jpg', alt='麵屋緣')
            a(href='#')
              img.picture(src='./img/eat_39.jpg', alt='大盛豬排專門店')
            a(href='#')
              img.picture(src='./img/eat_40.jpg', alt='小川拉麵')
            a(href='#')
              img.picture(src='./img/eat_41.jpg', alt='一休さん拉麵')
            a(href='#')
              img.picture(src='./img/eat_42.jpg', alt='五之神製作所')
            a(href='#')
              img.picture(src='./img/casual_01.jpg', alt='SGS實驗日常')
            a(href='#')
              img.picture(src='./img/casual_02.jpg', alt='隨手拍(富貴角)')
            a(href='#')
              img.picture(src='./img/casual_03.jpg', alt='隨手拍(老梅)')
            a(href='#')
              img.picture(src='./img/casual_04.jpg', alt='隨手拍(東眼山)')
            a(href='#')
              img.picture(src='./img/casual_05.jpg', alt='隨手拍(石門洞)')
            a(href='#')
              img.picture(src='./img/casual_06.jpg', alt='隨手拍(幸福王國)')
            a(href='#')
              img.picture(src='./img/casual_07.jpg', alt='隨手拍(幸福王國)')
            a(href='#')
              img.picture(src='./img/casual_08.jpg', alt='隨手拍(芝柏藝術村)')
            a(href='#')
              img.picture(src='./img/casual_09.jpg', alt='隨手拍(芝柏藝術村)')
            a(href='#')
              img.picture(src='./img/casual_10.jpg', alt='隨手拍(鼻頭角)')
            a(href='#')
              img.picture(src='./img/casual_11.jpg', alt='隨手拍(南雅漁港)')
            a(href='#')
              img.picture(src='./img/casual_12.jpg', alt='實驗室一隅')
            a(href='#')
              img.picture(src='./img/casual_13.jpg', alt='隨手拍(中信金融園區)')
            a(href='#')
              img.picture(src='./img/casual_14.jpg', alt='隨手拍(林美石磐步道)')
            a(href='#')
              img.picture(src='./img/casual_15.jpg', alt='隨手拍(碧潭)')
        #lightbox
          span.close ×
          img.showImage
          .description
      footer#contact
        h2 Contact
        .contactInfo
          p
            span E-MAIL  
            | hanks199021@gmail.com
          p
            span TEL  
            | 0920-147-717
        .media
          a.fa-2x.fa-github(href='https://github.com/HicksonWei/About_me', target="_blank")
          a.fa-2x.fa-facebook-official(href='https://www.facebook.com/profile.php?id=100001463909234', target="_blank")
          a.fa-2x.fa-instagram(href='https://www.instagram.com/hank199021/', target="_blank")

    script(src='./js/vendors.js')
    script(src='./js/all.js')