<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='description', content='Hank的個人簡介')
    meta(neme='keyword', content='危建翰, Hank')
    meta(property='og:title', content="Hank's Page")
    meta(property='og:description', content='Hank的個人簡介')
    meta(property='og:type', content='website')
    meta(property='og:url', content='')
    meta(property='og:image', content='./img/personal.jpg')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='')
    meta(name='twitter:title', content="Hank's Page")
    meta(name='twitter:description', content='Hank的個人簡介')
    meta(name='twitter:image', content='./img/personal.jpg')
    title HankPage
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="./css/all.css")
    link(rel="stylesheet", href="./css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Permanent+Marker|Shadows+Into+Light")
  body
    .wrap
      header
        nav
          .top
            a(href="#") TOP
          .menu-group
            label.fa-2x.fa-bars.toggle(for="toggle-menu") 
            input#toggle-menu(type="checkbox")
            ul.menu
              li
                a.move(href="#profile") Profile
              li
                a.move(href="#experience") Experience
              li
                a.move(href="#skills") Skills
              li
                a.move(href="#works") Works
              li
                a.move(href="#contact") Contact
          .curtain.none
        
        .carousel
          .cover1.covers.fade
            .slogan1
              span.p1 A Journey of a Thousand Miles Begins with a Single Step
              span.p2 Practice Makes Perfect
            .caption1 Hi, I'm Hank.
          .cover2.covers.fade
            .slogan2
              span.p1
                | "Insanity: doing the same thing over and over again and expecting different results."
              span.p2 Creep Before You Walk
            .caption2 -Albert Einstein-
          .cover3.covers.fade
            .slogan3 Don't Be Sheep
          a.prev ❮
          a.next ❯
          .indicator
            span.dot
            span.dot
            span.dot
      
      .profile#profile.animated
        h2 Profile
        .profile-content
          .left-column
            .photo
              h1 Hank's World
            span 危建翰 Hank
          .right-column
            p
              | 我是危建翰，海洋大學食品科學系碩士畢業。論文主題與生質能源和酵素表現有關，攻讀碩士期間聚焦於醣類發酵及基因轉殖等相關實驗。由於這些實驗和微生物領域密不可分，故對於微生物培養及檢測技術也有深入了解，亦曾擔任微生物實驗助教 (食品技師班、食品科學營...)。畢業後曾經在親戚經營的幼稚園及安親班幫忙一段時間，照顧小小孩並磨練自己的耐心 (笑)。
            p
              | 之後正式投入職場，曾在小公司當個研發人員，也在大公司做過化學分析師，雖然工作表現尚屬穩健、與同事相處融洽，但同時也對於一成不變的工作內容感到苦惱。維持現狀固然舒適而不費力，但我仍想有所突破，不想畫地自限。躑躅間偶然接觸到程式設計，在初步投入後覺得十分感興趣。寫程式給了我一個不斷學習的契機，在 coding 的過程中會遭遇許多困難，所以必須攝取更多的新知來解決問題，在跨越障礙的過程當中，我確實感覺到了自己在進步，而這正是我所追求的。於是便決定辭去職務，透過自學及線上課程，從前端相關技術著手，朝著工程師之路邁進，在茫茫程式碼之中尋找立錐之地。
            p
              | 興趣是打籃球、唱歌、閱讀、健行和品嘗美食。放下工作的這段期間，與朋友歡聚、與美食邂逅，亦不時投向自然的懷抱，期許自己在提升個人能力的同時，也能懂得拾掇在周遭唾手可得、平時卻視而不見，名為「生活」的情懷。
      
      .experience#experience
        .experience-frame.animated
          h2 Experience
          .timeline
            .container.left
              .timeline-content
                h3 國立台灣海洋大學食品科學系
                span.title 碩士
                span.period 2012-2014
                p 除具備食品科學基礎知識外，論文主題圍繞分子生物學與生質能源等範疇，故亦精於基因轉殖、蛋白質表現與藻類發酵等相關實驗。
            .container.right
              .timeline-content
                h3 泰鈞生物科技股份有限公司
                span.title 研發人員
                span.period 2014-2015
                p 職責內容為化妝品研發、生產及品管等各個面向，對於化妝品原料特性、製作及檢驗方式有一定程度的理解。
            .container.left
              .timeline-content
                h3 SGS台灣檢驗科技股份有限公司
                span.title 化學分析師
                span.period 2016-2017
                p 主司食品微生物檢驗，擅長各種食品中病原菌的培養與分析技術。
            .line
              .bar
      
      .skills#skills
        .skills-frame.animated
          h2 Skills
          .square
            .chart-container
              canvas#myChart(width='400', height='400')
            .skills-content
              ul
                li 
                  span 
                    | 能不倚賴前端框架實現 RWD
                li
                  span 
                    | 用 JavaScript / jQuery 設計網頁動畫效果
                li
                  span 
                    | 透過 ajax 串接 open data API
                li
                  span 
                    | 使用 gulp 自動化前端任務
                li
                  span 
                    | 了解 Git/Github 基礎操作
                li
                  span 
                    | 用 Express + Firebase 實作會員登入系統
                li
                  span 
                    | Vue.js 基礎知識與 SPA 實作
                li
                  span 
                    | TOEIC 700
      .works#works
        .works-frame.animated
          h2 Works
          ul.items
            li
              a(href='https://hicksonwei.github.io/HexSchool_RWD_FinalProject/', target="_blank")
                img.works-pic(src='./img/works1.jpg')
                p.topic 六角西餐廳
                p.feature 客製 RWD + Scss + jQuery
            li
              a(href='https://hicksonwei.github.io/HexSchool_JS_JSON/', target="_blank")
                img.works-pic(src='./img/works2.jpg')
                p.topic 高雄旅遊資訊
                p.feature 使用 JSON 格式資料渲染畫面
            li
              a(href='https://hicksonwei.github.io/Landing_Page/', target="_blank")
                img.works-pic(src='./img/works3.jpg')
                p.topic 六角 Landing Page
                p.feature Bootstrap 4 + gulp 管理
            li
              a(href='https://member-management-system.herokuapp.com/', target="_blank")
                img.works-pic(src='./img/works4.jpg')
                p.topic 留言板
                p.feature Express + Firebase 實作登入系統
            li
              a(href='https://spa-nuxt.herokuapp.com/about', target="_blank")
                img.works-pic(src='./img/works5.jpg')
                p.topic SPA
                p.feature Vue.js + Nuxt 實作 Vue-SSR
            li
              a(href='https://afternoon-ridge-75133.herokuapp.com/', target="_blank")
                img.works-pic(src='./img/works6.jpg')
                p.topic todolist
                p.feature Express + Firebase 實作 todolist
        .clearfix
        .works-bg
      footer#contact
        h2 Contact
        .contactInfo
          p
            span E-MAIL  
            | hanks199021@gmail.com
          p
            span TEL  
            | 0920-147-717
        .media
          a.fa-2x.fa-github(href='https://github.com/HicksonWei/About_me', target="_blank")
          a.fa-2x.fa-facebook-official(href='https://www.facebook.com/profile.php?id=100001463909234', target="_blank")
          a.fa-2x.fa-instagram(href='https://www.instagram.com/hank199021/', target="_blank")

    script(src='./js/vendors.js')
    script(src='./js/all.js')